{% extends 'site_base.html' %}

{% block body %}
  <div class="container body content">
    <p>
      We have sent you an email, please confirm your email address to complete registration
    </p>
  </div>
{% endblock %}
