{% extends 'site_base.html' %}
{% load widget_tweaks %}

{% block title %}Password Reset form{% endblock %}

  {% block body %}
  <div class="container">
    <h3>Reset password</h3>
    <br>
    <form method="post">
      {% csrf_token %}
      {% for field in form %}
        <div class="form-group col-lg-4">
          {{ field.label_tag }}
          {{ field | add_class:'form-control' }}
          {% if field.help_text %}
            <small style="display: none">{{ field.help_text }}</small>
          {% endif %}
          {% for error in field.errors %}
            <p style="color: red">{{ error }}</p>
          {% endfor %}
        </div>
      {% endfor %}
      <button class="btn btn-default" type="submit">Reset</button>
    </form>
  </div>

  {% endblock %}
