{% extends 'site_base.html' %}

{% block body %}
<div class="container">
  <h3>Password reset complete</h3>
  <br>
  <p>
  Your password has been set. You may go ahead and <a href="{% url 'login' %}">sign in</a> now.
  </p>
</div>
{% endblock %}
