{% extends 'site_base.html' %}
{% load widget_tweaks %}

{% block body %}

{% load mapbox_location_field_tags %}
{% location_field_includes %}
{% include_jquery %}

<div class="container body-content">
  <h3>Profile</h3>
  <br>

  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-success text-center col-lg-4 offset-lg-4" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}
  
  <form action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% for field in form %}
     <div class="form-group col-lg-6">
       {{ field.label_tag }}
       {{ field | add_class:'form-control' }}

       {% if field.help_text %}
         <small style="display: none">{{ field.help_text }}</small>
       {% endif %}

       {% for error in field.errors %}
         <p style="color: red">{{ error }}</p>
       {% endfor %}
     </div>
   {% endfor %}

   <div class="col-lg-10">
     <h4>Crops produced</h4>
     <br>

     <div class="table-responsive">
       <table class="table table-borderless">
           {{ cropsproduced.management_form }}

           {% for form in cropsproduced.forms %}
            {{ form.media }}  {# Adds all flatpickr JS/CSS files from CDN #}
               {% if forloop.first %}
                   <thead>
                   <tr>
                       {% for field in form.visible_fields %}
                           <th>{{ field.label }}</th>
                       {% endfor %}
                   </tr>
                   </thead>
               {% endif %}
               <tr class="{% cycle row1 row2 %} formset_row crop_production">
                   {% for field in form.visible_fields %}
                       <td>
                           {# Include the hidden fields in the form #}
                           {% if forloop.first %}
                               {% for hidden in form.hidden_fields %}
                                   {{ hidden }}
                               {% endfor %}
                           {% endif %}
                           {{ field.errors.as_ul }}
                           {{ field | add_class:'form-control' }}
                       </td>
                   {% endfor %}
               </tr>
           {% endfor %}
       </table>
     </div>


     <h4>Animals Produced</h4>
     <br>

     <div class="table-responsive">
       <table class="table table-borderless">
           {{ animalsproduced.management_form }}

           {% for form in animalsproduced.forms %}
           {{ form.media }}  {# Adds all flatpickr JS/CSS files from CDN #}
               {% if forloop.first %}
                   <thead>
                   <tr>
                       {% for field in form.visible_fields %}
                           <th>{{ field.label }}</th>
                       {% endfor %}
                   </tr>
                   </thead>
               {% endif %}
               <tr class="{% cycle row1 row2 %} formset_row animal_production">
                   {% for field in form.visible_fields %}
                       <td>
                           {# Include the hidden fields in the form #}
                           {% if forloop.first %}
                               {% for hidden in form.hidden_fields %}
                                   {{ hidden }}
                               {% endfor %}
                           {% endif %}
                           {{ field.errors.as_ul }}
                           {{ field | add_class:'form-control' }}
                       </td>
                   {% endfor %}
               </tr>
           {% endfor %}
       </table>
     </div>
     <input class="btn btn-primary" type="submit" value="Save"/>
   </div>

  </form>
  {{ form.media }}
</div>


<script src="//ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.formset/1.2.2/jquery.formset.js"></script>


<script type="text/javascript">
    $('.formset_row.animal_production').formset({
        addText: 'add',
        deleteText: 'remove',
        prefix: 'familymember_set'
    });
</script>

<script type="text/javascript">
  $('.formset_row.crop_production').formset({
      addText: 'add',
      deleteText: 'remove',
      prefix: 'familymember_set'
  });
</script>
{% endblock %}
