{% extends 'site_base.html' %}
{% load widget_tweaks %}

  {% block body %}
  <div class="container">
    <h3>Farmer Sign up</h3>
    <br>
    <form method="post" action = "{% url 'usersignup' %}">
      {% csrf_token %}
        {% for field in form %}
          <div class="form-group col-lg-4">
            {{ field.label_tag }}
            {{ field | add_class:'form-control' }}
            {% if field.help_text %}
              <small style="display: none">{{ field.help_text }}</small>
            {% endif %}
            {% for error in field.errors %}
              <p style="color: red">{{ error }}</p>
            {% endfor %}
          </div>
        {% endfor %}
      <button type="submit" class="btn btn-default">Submit</button>
    </form>
  </div>
  {% endblock %}
