{% extends 'site_base.html' %}
{% load widget_tweaks %}

{%block title%} Contact Us {% endblock %}

<form method="post">

</form>
{% block body %}
<div class="container">

  {% for message in messages %}
    <div class="alert {{ message.tags }} alert-success text-center col-lg-4 offset-lg-4" role="alert">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      {{ message }}
    </div>
  {% endfor %}

  <h3 id="contact_header">Contact Us</h3>
  <div class="col-lg-8 offset-lg-1">
    <form method=post>
      {% csrf_token %}
    <div class="form-row">
      <div class="form-group col-md-6">
        {{ form.first_name.label_tag }}
        {{ form.first_name | add_class:'form-control' }}
      </div>

      <div class="form-group col-md-6">
        {{ form.last_name.label_tag }}
        {{ form.last_name | add_class:'form-control' }}
      </div>
    </div>

    <div class="form-row">
      <div class="form-group col-md-6">
        {{ form.from_email.label_tag }}
        {{ form.from_email | add_class:'form-control' }}
      </div>

      <div class="form-group col-md-6">
        {{ form.company.label_tag }}
        {{ form.company | add_class:'form-control' }}
      </div>
    </div>
    
    <div class="form-group">
      {{ form.subject.label_tag }}
      {{ form.subject | add_class:'form-control' }}
    </div>

    <div class="form-group">
      {{ form.message.label_tag }}
      {{ form.message | add_class:'form-control' }}
    </div>

    <button type="submit" class="btn btn-primary">Send message</button>
  </form>
</div>

<p>
  Dont heistate to get in contact with us if you have any queries. Contact us on our
  <strong> Whatsapp : </strong> 077******
  <strong> Email : </strong> agri@ulitmeaccolade.co.zw
</p>

<p>
  Alternatively you can find us at the address below
</p>
</div>


<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.js'></script>
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.1/mapbox-gl.css' rel='stylesheet' />

<div id='map' style='width: 100%; height: 400px;'></div>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidGtjaGlrb25kbyIsImEiOiJjazc1OWt3ZHUwdHZ0M2R0MHB2ejltdHJvIn0.u5k6lkIgyJ0cTSEv5LWu0w';
  var map = new mapboxgl.Map({
    container: 'map',
    style: 'mapbox://styles/mapbox/streets-v11',
    center: [31.029082732866982,-17.82975891514485],
    zoom: 15
  });

  var marker = new mapboxgl.Marker()
  .setLngLat([31.029082732866982,-17.82975891514485])
  .addTo(map);
</script>

  <!-- <iframe width="100%" height="450" frameborder="0" style="border:0" src="https://www.google.com/maps/embed/v1/place?q=place_id:ChIJOYVp7-CkMRkRh4SAMr-ToBs&key=AIzaSyCm08sqJrmsg8N2UHi2OKPc2-56OJiLktA" allowfullscreen></iframe> -->
{% endblock %}
