{% extends 'site_base.html' %}

{%block title%} Home {% endblock %}

{% block body %}
{% load static %}
<img src="{% static "images/Cropping.jpg" %}" width="100%" height="550">
    <div class="highlight-blue" style="background-color:#1e6add;">
        <div class="container">
            <div class="intro">
                <h3 class="text-center" style="font-family:Roboto, sans-serif;">Our Mission</h3>
                <p class="text-center" style="font-family:Roboto, sans-serif;">Bridging gaps in the agricultural production value chain through a modernised, timeous and efficient digital platform to drive Zimbabwean agriculture forward.   
                </p>

                <h3 class="text-center" style="font-family:Roboto, sans-serif;">Our Vision</h3>
                <p>
                  To be the leading Agri digital hub operating safe and efficient digital marketing system of agricultural inputs and produce in Zimbabwe.
                </p>
            </div>            
        </div>
    </div>
     
    <div class="highlight-phone">
        <div class="container">
            <div class="row">
                <div class="col-md-6">
                    <div class="intro">
                        <h3 style="font-family:Roboto, sans-serif;">About Us</h3>
                        <p style="font-family:Roboto, sans-serif;">
                          AgriFriend is a Zimbabwean start-up which was launched in February 2020 to provide digital disruption of the traditional agricultural value chain to cushion farmers. Digitalization of agricultural markets provides an opportunity to streamline inefficiencies faced by farmers such as the dominance of intermediaries in the marketing of their farm produce. This platform resembles a paradigm shift in the digital transformation of Zimbabwean agriculture as it will facilitate, promote and connect farmers to different agricultural actors along the production chain. It will also increase farmers’ access to new markets and adds transparency as it enables farmers to bypass several intermediaries, increasing their net incomes, reduce wastage, and delivery of fresh produce to customers. Our online platform will provide real-time market prices of agricultural farm produce. 
                        </p>
                    </div>
                </div>
                <div class="col-md-6 numbered-list" >
                  <h5>How Agrifriend works</h5>
                  <div class="row registration-item">
                    <div class="col-md-2 list-item">
                      <img src="{% static "images/one.png" %}" alt="bullet point number one">
                    </div>
                    <div class="col-md-10">
                      Click sign up and follow the registration process
                    </div>
                  </div>
                  <div class="row registration-item">
                    <div class="col-md-2 list-item">
                      <img src="{% static "images/two.png" %}" alt="bullet point number two">
                    </div>
                    <div class="col-md-10">
                      Our team will evaluate your products and quantites that you intend to supply
                    </div>
                  </div>
                  <div class="row registration-item">
                    <div class="col-md-2 list-item">
                      <img src="{% static "images/three.png" %}" alt="bullet point number three">
                    </div>
                    <div class="col-md-10">
                      We will contact you with further details when required
                    </div>
                  </div>
                </div>
              </div>
            </div>
        </div>
    </div>

    <div class="mission highlight-blue" style="background-color: white;color: black;">
      <div class="container">
          <div class="intro">
              <h3 class="text-center" style="font-family:Roboto, sans-serif;padding-bottom: 0px;">Services We Offer</h3>
              <p class="text-center" style="font-family:Roboto, sans-serif;color: black;">
                24/7, 365 day Agri e-commerce online platform <br>
                Agriculture produce market platform and linkages <br>
                Delivery system <br>
                Mobile advisory services <br>
                Technology desk <br>
                Farmers’ bulletin and weather forecast <br>
                Farmers’ reminder
              </p>
          </div>
      </div>
    </div>
{% endblock %}
