<head>
  <!-- Global site tag (gtag.js) - Google Analytics -->
<script async src="https://www.googletagmanager.com/gtag/js?id=UA-162328872-1"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-162328872-1');
</script>

  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="Bridging gaps in the agricultural production value chain through a modernised, timeous and efficient e-marketing system to drive Zimbabwean agriculture forward.">

  <title>Agrifriend</title>

  <!-- Bootstrap core CSS -->
  {% load static %}
  <link rel="shortcut icon" href="{% static 'images/favicon.ico' type='image/x-icon' %}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
  <link href="{% static 'css/app.css' %}" rel="stylesheet">
  <link href="{% static 'css/styles.min.css' %}" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Cookie">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto">

  {% block header %}

  {% endblock %}

</head>
  <div>
    <nav class="navbar navbar-light navbar-expand-md navigation-clean-button" style="padding-right:60px;">
       <div class="container">
         <a class="navbar-brand" href="{% url 'index' %}">
           <img src="{% static "images/logo.png" %}" width="240" height="80">
         </a>

         <button class="navbar-toggler" data-toggle="collapse" data-target="#navcol-1">
           <span class="sr-only">Toggle navigation</span>
           <span class="navbar-toggler-icon"></span></button>

           <div class="collapse navbar-collapse" id="navcol-1">
             <ul class="nav navbar-nav mr-auto">
                 <li class="nav-item" role="presentation">
                   <a class="nav-link" href="{% url 'index' %}" style="font-family:Roboto, sans-serif;">Home</a>
                 </li>
                 <li class="nav-item" role="presentation">
                   <a class="nav-link" href="{% url 'contact' %}" style="font-family:Roboto, sans-serif;">Contact Us</a>
                 </li>
             </ul>

             {% if user.is_authenticated %}
             <span class="navbar-text actions">
               <div class="dropdown">
                  <button class="btn btn-primary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    {{ user.get_username }}
                  </button>
                  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    {% if user.profile %}
                    <a class="dropdown-item" href="{% url 'update_profile' pk=user.profile.id %}">Update profile</a>
                    {% endif %}
                    <a class="dropdown-item" href="{% url 'password_change' %}">Change password</a>
                    <a class="dropdown-item" href="{% url 'logout' %}">Logout</a>
                  </div>
                </div>
             </span>

              {% else %}
              <span class="navbar-text actions">
                <a href="{% url 'login' %}" class="login" style="font-family:Roboto, sans-serif;">Log In</a>
                <a class="btn btn-light action-button" role="button" href="{% url 'usersignup' %}" style="background-color:#1e6add;">Farmer Sign Up</a>
              </span>
              {% endif %}
           </div>
       </div>
    </nav>
   </div>
  {% block body %}
    body
  {% endblock %}

  <!-- Footer -->
<footer>
  <div class="row">
    <div class="col-sm-6 col-md-4 footer-navigation">
      <a class="footer-logo" href="#"><img src="{% static "images/logo.png" %}" width="200px"><span></span></a>

    <p class="company-name">Agrifriend ©  {% now "Y" %} </p>
    </div>
    <div class="col-sm-6 col-md-4 footer-contacts">
      <div>
        <span class="fa fa-map-marker footer-contacts-icon"> </span>
      <p>
        <span class="new-line-span">The business hub&nbsp;</span> Harare
      </p>
      </div>
      <div>
        <i class="fa fa-phone footer-contacts-icon"></i>
        <p class="footer-center-info email text-left"> +263 719 723 092</p>
      </div>
      <div>
        <i class="fa fa-envelope footer-contacts-icon"></i>
        <p>
          <a href="mailto:agri@ulitmeaccolade.co.zw">enquiries@ulitmeaccolade.co.zw</a>
        </p>
      </div>
    </div>

    <div class="col-md-4 footer-about">
      <h4 style="font-family:Roboto, sans-serif;">About the company</h4>
      <p style="font-family:Roboto, sans-serif;">AGRIFRIEND 2020 “Beyond just service; facilitating, accelerating and connecting<br>farmers to agricultural actors in the agricultural value chain!”<br></p>
      <div class="social-links social-icons">
        <!-- <a href="#"><i class="fa fa-facebook"></i></a>
        <a href="#"><i class="fa fa-twitter"></i></a> -->
      </div>
    </div>
  </div>
  <p class="company-name" style="font-family:Roboto, sans-serif;"></p>
</footer>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.0/js/bootstrap.bundle.min.js"></script>
