{% extends 'site_base.html' %}

{% block body %}
<link href='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.css' rel='stylesheet' />
<div id='map'></div>

<script src='https://api.mapbox.com/mapbox-gl-js/v1.8.0/mapbox-gl.js'></script>
<script>
  mapboxgl.accessToken = 'pk.eyJ1IjoidGtjaGlrb25kbyIsImEiOiJjazc1OWt3ZHUwdHZ0M2R0MHB2ejltdHJvIn0.u5k6lkIgyJ0cTSEv5LWu0w';

  var map = new mapboxgl.Map({
  container: 'map',
  style: 'mapbox://styles/mapbox/streets-v11',
  center: [31.05, -17.82], // starting position
  zoom: 5 // starting zoom

  });
  // Add zoom and rotation controls to the map.
  map.addControl(new mapboxgl.NavigationControl());
  var geojson = {
  'type': 'FeatureCollection',
  'features': [
    {% for farm in context.farms %}
      {
        'type': 'Feature',
        'properties': {
        'message': 'Foo',
        'iconSize': [60, 60]
        },
        'geometry': {
        'type': 'Point',
        'coordinates': [ {{ farm.location.0 }}, {{ farm.location.1 }}]
        }
      },
      {% endfor %}
  ]
};

geojson.features.forEach(function(marker) {
  // create a HTML element for each feature
  var el = document.createElement('div');
  el.className = 'marker';

  // make a marker for each feature and add to the map
  new mapboxgl.Marker(el)
    .setLngLat(marker.geometry.coordinates)
    .addTo(map);
});

</script>

{% endblock %}
