.container {
  padding-top: 15px;
}

.body {
  padding-top: 100px;
  padding-right: 20px;
}
#logo{
  height: 100px;
  width: 300px;
}

.links {
  padding-top: 20px;
}

#account-options{
  background-color: Transparent;
  background-repeat: no-repeat;
  outline: none;
  overflow: hidden;
  border: none;
}

[id$=animal_type] {
  min-width: 150px;
}

[id$=crop_type] {
  min-width: 150px;
}

[id$=quantity_per_week] {
  width: 100px;
}

[id$=market_ready_date] {
  width: 120px;
}

.mission .values{
  background-color: rgb(255, 255, 255);
  padding-top: 50px;
  padding-bottom: 50px;
}

.numbered-list{
  display: flex; 
  flex-wrap: wrap; 
  padding-top: 50px;
  padding-bottom: 50px;
}

  @media(max-width: 600px){
    .registration-item {
      padding-bottom: 20px;
    }
    .list-item{
      padding-bottom: 10px;
    }
}

#map{
  width: 100%;
  height: 500px;
}

.marker {
  background-image: url("/static/images/red_pin.png");
  background-size: cover;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  cursor: pointer;
}
